{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 2 Chrome versions"
                    ],
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        "transform-flow-strip-types",
        "syntax-dynamic-import",
        "dynamic-import-node",
        [
            "transform-object-rest-spread",
            {
                "useBuiltIns": true
            }
        ]
    ]
}
