{
    "presets": [
        "stage-0",
        [
            "env",
            {
                "targets": [
                    "> 5%"
                ],
                "loose": true
            }
        ]
    ]
}
